/db/*.db
/public/assets*
/tmp
.env.local
.env.*.local
.env.development
.env.test
**/.DS_Store
.vscode/*
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea

/coverage
/docs/yard
.yardoc
/node_modules
/.git
/.github
/log
Dockerfile
.gitignore
.byebug_history
