/data/*.db
/db/*.db
/lib/inferno/public/assets*
/lib/inferno/public/*.js
/lib/inferno/public/*.LICENSE.txt
/lib/inferno/public/*.png
!/lib/inferno/public/logo*.png
/tmp
.env.local
.env.*.local
**/.DS_Store
.vscode/*
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea

/coverage
/spec/examples.txt
/docs/docs
.yardoc
node_modules
