<div style="height: 100px; background: url('<%=Inferno::Application['public_path']%>/bg-header-1920x170.png') repeat-x top #1fdbfe;">
  <img style="width: 100%; height: 100%; object-fit: contain;" alt="HealthIT.gov" src="<%= Inferno::Application['public_path'] %>/healthit.gov.logo.png">
</div>