<style>
  .container {
    height: 100px;
  }
  .site-header {
    background: url('<%=Inferno::Application['public_path']%>/bg-header-1920x170.png') repeat-x top #1fdbfe;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>

<div class='container'>
  <div class="site-header">
    <img class='image' alt="HealthIT.gov" src="<%= Inferno::Application['public_path'] %>/healthit.gov.logo.png">
  </div>
</div>