/data/*.db
/data/redis/**/*.rdb
/data/redis/**/*.aof
/data/redis/**/*.manifest
/tmp
.env.local
.env.*.local
**/.DS_Store
.vscode/*
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea
*.gem

/coverage
/spec/examples.txt
/docs/yard
.yardoc
node_modules
