:root {
  --link-color: #c93905;
  --active-nav-bkg: #c93905;
  --nav-hover-bkg: #ffe6cd;
}

html {
  font-size: 17px;
  line-height: 1.2;
}

body {
  color: #010326;
}

.hero {
  padding: 3rem;
  margin: 3rem 0;
  text-align: center;
}

code {
  font-size:0.8rem;
}

.navbar-custom {
  background-color: white;
}
.navbar a.github-menu {
  margin-top:20px;
  margin-bottom:20px;
}
.navbar-collapse>ul {
  padding-left:1rem;
}
.navbar-collapse>a.github-menu{
  padding-left:1rem;
}

.search-container {
  flex-grow: 1;
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 2000;
}

.fa-github {
  font-size: 2em;
  color: #333;
}

.landing-offcolor {
  background-color: #F0F2F1;

}

.news-content {
  margin-left: 1.5rem;
}

.docs-content a {
  color: var(--link-color);
}

.docs-content a:hover,
.docs-content a:visited {
    color: var(--link-color);
}


.header-nav .nav-item {
  padding: 4px 0 0 0;
  margin: 0 10px;

}

.header-nav .nav-link {
  font-size: 1.2rem;
  padding: 0;
  margin-bottom: 5px;
  border-bottom: 3px solid #ffffff;
}

.header-nav .nav-link.active {
  /* background-color: #efefef; */
  /* border-radius: 25px; */
  border-bottom: 3px solid #F25C05;
}

.nav-list-expander {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: -2px;
  top: 6px;
  color: #010326;
}

.nav-list-expander svg {
  width: 1rem;
  height: 1rem;
  color: #010326;
}

#sidebar {
  padding-top: 6px;
}

#sidebar .nav-link {
  font-size: 15px;
  line-height: 24px;
  padding: 8px 32px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #010326;
}

#sidebar .nav-item.active svg {
  transform: rotate(90deg);
}

#sidebar .nav-link.active + a svg {
  color: white;
}

#sidebar .nav-item {
  position: relative;
  max-width: 300px;

}

.left-nav-column {
  max-width: 320px;
}


#sidebar .navbar-nav {
  margin-left: -12px;
}

#sidebar .nav-link:hover {
/*  background-color: #f2e7dc; */
  background-color: var(--nav-hover-bkg);
}

#sidebar .nav-link-top {
  padding: 8px 20px;
}

#sidebar .nav-link.active {
/*  background-color: #f2913d; */
  background-color: var(--active-nav-bkg);
  color: white;
}

#sidebar .nav-link.active:hover {
  color: white;
}

footer a {
  color: var(--link-color);
}

footer a:hover,
footer a:visited {
    color: var(--link-color);
}

footer {
  font-size:0.8rem;
  letterspacing:0.5px;
}

.breadcrumb {
  margin-bottom: .75rem;
}

.breadcrumb-item {
  text-transform: uppercase;
  font-size: 14px;
}

.nav-group {
  padding: 20px 0 0 20px;

  text-transform: uppercase;
  font-weight: bold;
}

.nav-group.nav-subgroup {
  font-size: 15px;
}

.nav-item:first-child .nav-group{
  padding-top: 0;
}

.docs-content h1 {
  padding-bottom: 20px;

}

.docs-content .anchor-heading {
  position:absolute;
  right:-1rem;
  width:1.5rem;
  /* height:100%; */
  padding-right:.25rem;
  padding-left:.25rem;
  overflow:visible
}
@media (min-width: 50rem) {
  .docs-content .anchor-heading {
    right:auto;
    left:-1rem
  }
}
.docs-content .anchor-heading svg {
  display:inline-block;
  position:absolute;
  width:75%;
  top: 11px;
  color:#c93905;
  visibility:hidden;
  opacity: .4;
}

.docs-content h2 .anchor-heading svg {
  top: 11px;
}

.docs-content h3 .anchor-heading svg {
  top: 9px;
}

.docs-content h4 .anchor-heading svg {
  top: 5px;
}
.docs-content .anchor-heading:hover svg,
.docs-content .anchor-heading:focus svg,
.docs-content h1:hover>.anchor-heading svg,
.docs-content h2:hover>.anchor-heading svg,
.docs-content h3:hover>.anchor-heading svg,
.docs-content h4:hover>.anchor-heading svg,
.docs-content h5:hover>.anchor-heading svg,
.docs-content h6:hover>.anchor-heading svg {
  visibility:visible
}

.right-toc {
  margin-top: 6px;
  border-left: 1px solid #ced0d9;
  padding-left: 1rem;
}

.right-toc h5 {
  padding-top: 10px;
}

.right-toc a,
.right-toc a:visited {
  color: #010B40;
  text-decoration: none;
}

.right-toc a:hover {
  color: #f2913d;

}

.docs-body {
  max-width: 800px;
}


.search-active .search-results {
  display: block;
}

.search-result:hover, .search-result.active {
  background-color: #f5efeb;
}

.search-results {

    top: 100%;
    width: 536px;
    max-height: calc(100vh - 200%) !important;
    margin-top: -20px;

}

.search-no-result {
  padding: 0.5rem 0.75rem;
  font-size: 12px !important;
}

.search-results {
  position: absolute;
  left: 110px;
  display: none;
  width: 50%;
  max-height: calc(100% - 4rem);
  overflow-y: auto;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  z-index: 2005;
}

.search-results-list {
  font-size: 14px !important;
}

.search-results-list {
  padding-left: 0;
  margin-bottom: 0.25rem;
  list-style: none;
}


.search-results-list-item {
  padding: 0;
  margin: 0;
}

.search-result {
  display: block;
  padding: 0.25rem 0.75rem;
  text-decoration: none !important;
}

.search-result-title {
  display: inline-block;
  width: 35%;
  padding-right: 0.5rem;
  vertical-align: top;
}

.search-result-doc.search-result-doc-parent {
  font-size: 12px !important;
}

.search-result-doc.search-result-doc-parent {
  opacity: 0.5;
  font-size: 12px !important;
}

.search-result-doc .search-result-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: #ed9853;
  flex-shrink: 0;
}

.search-result-doc {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.search-result-section {
  margin-left: 1.5rem;
  word-wrap: break-word;
}

.search-result-rel-url {
  font-size: 10px !important;
}


.search-result-rel-url {
  display: block;
  margin-left: 1.5rem;
  overflow: hidden;
  color: #959396;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 9px !important;
}
.search-result-previews {
  float: right;
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  color: #959396;
  word-wrap: break-word;
  border-left: 1px solid;
    border-left-color: currentcolor;
  border-left-color: #eeebee;
  font-size: 11px !important;
  text-decoration: none;
}

.search-result-previews {
  display: inline-block;
  width: 60%;
  padding-left: 0.5rem;
  margin-left: 0;
  vertical-align: top;
}

.search-result-previews {
  color: #959396;
  word-wrap: break-word;
  font-size: 11px !important;
}

.search-result-previews {
  font-size: 12px !important;
}


.search-result-previews {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  color: #959396;
  word-wrap: break-word;
  border-left: 1px solid;
    border-left-color: currentcolor;
  border-left-color: #eeebee;
  font-size: 11px !important;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms;
}

.search-active .search-container .input-group {
  position: absolute;
  left: 110px;
  margin-top: -18px;
  width: 50%;
  border: 0
}

.search-active .search-container .input-group-text {
  border: 0;
}

.search-active #search-input {
  border: 0;
}

.search-active .search-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity ease 400ms, width 0s, height 0s;
  z-index:1999;
}

.news-notice {
  font-size: 20px;
  margin-bottom: 2rem;
}

.news-item {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 1rem;
}

.news-item h2 {
  font-size: 1.5em;
}

.news-body {
  max-width: 800px;
}

.news-body h1 {
  margin-bottom: 0;
  padding-bottom: .5rem;
}

.news-body time {
  font-weight: bold;
  padding-bottom: 1rem;
  display: block
}

.grid {
  width: 100%;
  thead {
    border-bottom: 1px solid #C0C0C0;
  }
  td, th { 
    padding-left: 7px;
  }
  td:last-child, th:last-child { 
    border-left: 1px solid #C0C0C0;
  }
}

/* for some reason other grid classes could not inherit from .grid */
.scratch-grid {
  width: 100%;
  thead {
    border-bottom: 1px solid #C0C0C0;
  }
  td, th { 
    padding-left: 7px;
    width: 51%; 
  }
  td:last-child, th:last-child { 
    border-left: 1px solid #C0C0C0;
  }
}

.multi-grid {
  width: 100%;
  thead {
    border-bottom: 1px solid #C0C0C0;
  }
  td, th { 
    padding-left: 7px;
  }
  td:last-child, th:last-child , td:nth-child(2), th:nth-child(2) { 
    border-left: 1px solid #C0C0C0;
  }
}
